.item {
    float: left;

    width: 170px;
    height: 270px;
    padding: 0 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
}

.item_img {
    height: 150px;
}

.cal_btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #e5e5e5;

    text-align: center;
    cursor: pointer;
}
.cal_btn_invalid {
    background: #666;
}

.cal_input {
    width: 60px !important;
    height: 20px !important;
    text-align: center;
}